---
import BaseLayout from "../layouts/BaseLayout.astro";

import data from "./resume.11tydata.json";
const pageTitle = "Resume of Joe Maddalone";
---

<BaseLayout pageTitle={pageTitle} includeFooter={false}>
    <div class="container flex justify-center mt5 pa2">

        <div class="ui divided items">
            {
                data.resume.work.map((work) => (
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                {work.company} ({work.from} - {work.to})
                            </div>
                            <div class="meta i">{work.title}</div>
                            <ul>
                                {work.highlights.map((highlight) => (
                                    <li class="meta pt0">{highlight}</li>
                                ))}
                            </ul>
                        </div>
                    </div>
                ))
            }
        </div>
    </div></BaseLayout
>
